:root {
  --white: #fff;
  --whiteShaded: #F8F8F8;
  --hacettepe: #FF1F2D;
  --defaultBg: #F5F5F5;
  --activeChat: #49BF4E;
  --awayChat: #F0F339;
  --pasiveChat: #CECECE;
  --whiteShadow: #C2C0C0;
}

body,
html {
  font-family: "Poppins", "SansSerif", "Verdana", sans-serif;
  background-color: #efefef;
  height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}
