.chatSidebar {
  flex: 2.5;
  /* height: 85vh; */
  /* align-items: center; */
  justify-content: center;
  background-color: white;
  border-radius: 17px;
  /* height: calc(100vh - 50px); */
  overflow-y: scroll;
  /* position: relative; */
  display: flex;
}

.bannerContainer{
  margin-top: 15px;
  /* margin-right: 20px; */
  width: 300px;
  border-radius: 17px;
}

.profileBanner-chat{
  width: 100%;
}

