
.eventSidebar {
  background-color: white;
  flex: 2.5;
  /* height: calc(100vh - 50px); */
  overflow-y: scroll;
  position: sticky;
  top: 50px;
  border-radius: 20px;
}

.eventListItemText{
  margin-left: -10px;
  font-family: "Poppins";
  color: #767676;
  font-weight: 550;
}

/* ::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(179, 179, 179);
} */

.eventWrapper {
  padding: 20px;
}

.eventList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.eventListItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.eventIcon {
  margin-right: 15px;
}

.eventButton {
  width: 150px;
  cursor: pointer;
  border: none;
  font-family: "Poppins";
  color: #626262;
  margin-top: 30px;
  padding: 10px;
  border-radius: 5px;
  font-weight: 500;
}
