.contentOverflowText {
  width: 100%;
  position: absolute;
  cursor: pointer;
  bottom: 40px;
  background: linear-gradient(
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.9),
    rgba(204, 195, 194, 1)
  );
  font-size: medium;
  line-height: 30px;

  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */

  -moz-transition: all 500ms ease; /* Firefox */
  -webkit-transition: all 500ms eases; /* Safari and Chrome */
  -o-transition: all 500ms ease; /* Opera */
  transition: all 500ms ease;
}

.contentOverflowText:hover {
  color: white;
  background: rgb(238, 164, 54);
  background: linear-gradient(
    90deg,
    rgba(238, 164, 54, 1) 31%,
    rgba(227, 57, 57, 1) 77%,
    rgba(255, 0, 0, 1) 100%
  );
}
.postVisualDataPreview {
  display: block;
  max-width: 60%;
  /* width: auto; */
  margin-left: auto;
  margin-right: auto;
}
