@import "../../index.css";

.comment-profile-banner-wrapper {
    width:fit-content;
    border-radius:15px;
    margin-left: 15px;
}

.comment-box {
    background-color: var(--white);
    border-radius: 15px;
    display: flex;
    align-items: center;
    margin-left: 30px;
    min-height: 80px;
    width: 60vw;
    box-shadow: 0px 3px 5px 0px var(--whiteShadow);
}

.comment-box > p {
    font-family: 'Poppins';
    font-size: medium;
    margin-left: 20px;
}