.homeContainer {
  font-family: Poppins;
  display: flex;
  flex: auto;
  flex-direction: row;
  justify-content: space-between;
  height: calc(100vh - 150px);
  bottom:10px;
  /* margin-left: 50px; */
  /* margin-right: 50px; */
  padding-top: 2%;
  width: calc(100vw - 40px);
  overflow-y: visible;
  position: relative; 
  /* background-color: blueviolet; */
}
