.homeContainer {
  font-family: Poppins;
  flex-grow: 5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: calc(100vh - 140px);
  padding-bottom: 20px;
  /* margin-left: 50px; */
  /* margin-right: 50px; */
  padding-top: 2%;
  width: calc(100vw - 40px);
  overflow-y: visible;
  position: relative;
  /* background-color: blueviolet; */
}

.errorMiddle {
  flex: 7;
}
