.card-view {
  max-width: 475px;
  padding: 5%;
  border-radius: 20px;
}

.passive {
  width: 20%;
  background: transparent;
  border: none;
}

.welcome {
  align-items:left;
  font-size: large;
  float: left;
}
